/* Bouton "CHOISIR QUINCALLERIE" */
.div-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin: 0 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    width: 250px;
    transition: background-color 0.3s ease;
}

#btnQuincallerie {
    background-color: #0d3ab4;
    color: #ffffff;
}

#btnBois {
    background-color: rgb(241, 176, 96);
    color: #000000;
}

/* Style pour les lignes de quincaillerie */
.quincaillerie-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #0d3ab4;
    border-radius: 5px;
}

.quincaillerie-line input,
.quincaillerie-line select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    background-color: #0d3ab4;
    color: white;
}

.bois-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(241, 176, 96);
    border-radius: 5px;
}

.bois-line input,
.bois-line select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    background-color: rgb(241, 176, 96);
    color: black;
}

.rectangle-case {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid #000000;
    margin-left: 10px;
}

.rectangle-bleu {
    width: 100%;
    height: 100%;
}
