.div-btn button {
    padding: 10px 20px; /* Rembourrage intérieur pour un espace autour du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 15px; /* Coins arrondis */
    margin: 0 10px; /* Marge autour des boutons */
    margin-bottom: 20px;
    cursor: pointer; /* Curseur de souris pointer */
    font-size: 16px; /* Taille de police */
    width: 250px;
    font-weight: 900;
    transition: background-color 0.3s ease; /* Animation de transition pour le changement de couleur de fond */
}

#btnBois {
    background-color: rgb(216, 174, 96);
}

#btnQuincallerie {
    background-color: #0d3ab4;
    color: #ffffff;
}

.ligne {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.ligne input,
.ligne select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border-width: 0;
    font-weight: 900;
    background-color: inherit;
}

.rectangle-case {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid #000000;
    margin-left: 10px;
}

.rectangle-bleu {
    width: 100%;
    height: 100%;
}


/* Style pour les lignes de bois */
#ligneBois {
    background-color: rgb(216, 174, 96);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


/* Style pour les lignes de quincaillerie */
#ligneQuincallerie {
    background-color: #0d3ab4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#ligneQuincallerie input {
    color: #ffffff;
}